:root {
  --primary-color: #1A56DB;
  --secondary-color: #00008b;
  --grey: #808080;
  --light-grey: #d3d3d3;
}

html, body {
  width: 100%;
}

section {
  min-height: calc(100vh - 70px);
  margin-top: 70px;

  padding: 1rem;
}

nav {
  border-bottom: 1px solid var(--light-grey);
  box-shadow: 0 0 4px var(--light-grey);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}