.note-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px rgb(215, 215, 215);
    border-radius: 5px;
    padding: 15px;
    transition: ease-in-out 0.2s;
} 

.note-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 20px rgb(169, 169, 169);
}

.note-title {
    font-weight: 600;
}

.note-stats {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.stat {
    display: flex;
    gap: 0.5rem;
}
